<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h1>User Management Hello There  !!!!!!!!!!!</h1></div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form [formGroup]="employeeForm" (submit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{employeeForm.value | json}}   
      </div>
      
  </div>
</div>